.DetailView {
  width: 21%;
}

.queryPanel {
  height: 150px;
  border: 1px solid gray;
  padding: 5px;
}

.queryList {
  height: 250px;
  border: 1px solid gray;
  padding: 0px;
}


.ListView {
	width: 17.75%;
	height: 720px;
	margin-right: 5px;
	border: 1px solid #808080;
}

.treeMap {
  padding: 0px;
}

#table{
	width: 17.75%;
	height: 720px;
	margin-right: 5px;
	border: 1px solid #808080;
}