app/static/data/*
app/static/lib/multiview/
src/src/engine/multiview/
src/src/engine/metastore_db/
*.npy
**/src/src/engine/multiview/*
*.pyc
# ignore json data
src/src/engine/data/
**/src/src/data/*
src/src/data/*.json
*.json
