
.infoPanel { 
  grid-area: i;
  margin: 10px;
  margin-bottom: 20px;
  padding: 10px;
  display: flex;
  height: 250px;
}

.dataInspectorTitle,
.modelInspectorTitle {
  font-weight: bolder;
  background-color: darkgray;
  color: white;
  padding: 5px;
}

.dataInspector {
  width: 18%;
  height: 263px;
  margin-right: 5px;
  border: 1px solid #808080;
}

.descriptionPattern,
.descriptionDescriptors {
  margin: 0 10px;
}

.descriptorName {
  margin-left: 10px;
}

.datasetDropdown {
  display: grid;
  margin: 5px 0;
}

.datasetDropdownToggle {
  justify-self: center;
  width: 90%;
  height: 35px;
}

.modelInspector {
  width: 81%;
}

.screeCharts {
  border: 1px solid #808080;
  height: 100%;
  display: flex;
}

.screeChart {
  width: 20%;
  margin: 5px 10px;
}

.screeChartName {
  font-size: 0.9rem;
  margin: 5px;
  border-bottom: 1px solid lightgrey;
  padding: 2px;
  margin-right: 10px;
}

.line {
    fill: none;
    stroke: #ffab00;
    stroke-width: 3;
}

/* Style the dots by assigning a fill and stroke */
.dot {
    fill: #ffab00;
    stroke: #fff;
}

div.tooltip {
  position: absolute;
  text-align: center;
  width: 150px;
  height: 100px;
  padding: 2px;
  font: 10px sans-serif;
  background: lightsteelblue;
  border: 0px;
  border-radius: 8px;
  pointer-events: none;
}


.metricSlider {
  align-self: center;
}

