.CircularOverview {
  width: 58%;
  margin-right: 5px;
  height:720px;
  border: 1px solid #808080;
}

.active {
  stroke: #000;
  stroke-width: 2px;
}

.tooltip {
  position: absolute;
  text-align: center;
  width: 150px;
  height: 100px;
  padding: 2px;
  font: 10px sans-serif;
  background: lightsteelblue;
  border: 0px;
  border-radius: 8px;
  pointer-events: none;
}


.legend {
  height:0px;
}