$max-page-width: 935px;

/* 
    Css-grid layout for the website structure 
    grid-template-rows: 50px 200px 400px 250px 80px;
    grid-template-columns: 25% 40% 15% 20%;
*/

$layout-first-row: 50px;
$layout-second-row: 200px;
$layout-third-row: 400px;
$layout-fourth-row: 250px;
$layout-fifth-row: 80px;

$layout-first-column: 25%;
$layout-second-column: 40%;
$layout-third-column: 15%;
$layout-fourth-column: 20%;

$processView-individualFairness-width: 20%;
$processView-individualFairness-height: 80%;


$innerCircleRadius: 25;
$outerCircleRadius: 12;

$innerCircleStroke-width: 3;
$innerCircleStroke-opacity: 1;
$outerCircleStroke-width: 2;
$outerCircleStroke-opacity: 1;

$detailView-margin-top: 10;
$detailView-margin-bottom: 200;
$detailView-margin-left: 40;
$detailView-margin-right: 20;
$detailView-bkbar-opacity: 0.1;
$detailView-fgbar-opacity: 0.8;


/*
    Component layouts bound to css-grid layouts
*/

