@import "./_colors.scss";
@import "./_sizes.scss";


:export {
    groupColor1: $group-color1;
    groupColor2: $group-color2;
    betweenGroupColor: $between-group-color;
    innerCircleRadius: $innerCircleRadius;
	outerCircleRadius: $outerCircleRadius;
    innerCircleStrokeWidth: $innerCircleStroke-width;
	innerCircleStrokeOpacity: $innerCircleStroke-opacity;
    outerCircleStrokeWidth: $outerCircleStroke-width;
	outerCircleStrokeOpacity: $outerCircleStroke-opacity;

}