@import "./_colors.scss";
@import "./_sizes.scss";


:export {
    groupColor1: $group-color1;
    groupColor2: $group-color2;
    betweenGroupColor: $between-group-color;
    innerCircleRadius: $innerCircleRadius;
	outerCircleRadius: $outerCircleRadius;
    innerCircleStrokeWidth: $innerCircleStroke-width;
	innerCircleStrokeOpacity: $innerCircleStroke-opacity;
    outerCircleStrokeWidth: $outerCircleStroke-width;
	outerCircleStrokeOpacity: $outerCircleStroke-opacity;

    detailViewMarginTop: $detailView-margin-top;
	detailViewMarginBottom: $detailView-margin-bottom;
    detailViewMarginLeft: $detailView-margin-left;
	detailViewMarginRight: $detailView-margin-right;
    detailViewBKBarOpacity: $detailView-bkbar-opacity;
    detailViewFGBarOpacity: $detailView-fgbar-opacity;



}