.DetailView {
  width: 21%;
}

.queryPanel {
  height: 200px;
  border: 1px solid gray;
  padding: 5px;
}

.treeMap {
  border: 1px solid gray;
  padding: 0px;
}


.axis .domain { display: none; }
.axis line { stroke: #ccc; }
.axis.x0 text { font-weight: 700; }
.hover-active rect { opacity: .1; }
.hover-active rect.hover { opacity: 0.8; }
