body {
  background-color: #f6f5f5;
  color: dimgrey;
}

#root {
  max-width: 1200px;
  max-height: 1200px;
  margin: 0 auto;
  background-color: white;
}

.g_x_axis line { stroke: gray; stroke-width: 2px; }
.g_x_axis path { stroke: gray; stroke-width: 2px; }
.g_x_axis text { fill: gray; }

.g_y_axis line { stroke: gray; stroke-width: 2px; }
.g_y_axis path { stroke: gray; stroke-width: 2px; }
.g_y_axis text { fill: gray; }

.d3-tooltip {
  line-height: 1.5;
  font-weight: 400;
  padding: 12px;
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
  border-radius: 2px;
  pointer-events: none;
}

/* Creates a small triangle extender for the tooltip */
.d3-tooltip:after {
  box-sizing: border-box;
  display: inline;
  font-size: 10px;
  width: 100%;
  line-height: 1;
  color: rgba(0, 0, 0, 0.8);
  position: absolute;
  pointer-events: none;
}

/* Northward tooltips */
.d3-tooltip.n:after {
  content: "\25BC";
  margin: -1px 0 0 0;
  top: 100%;
  left: 0;
  text-align: center;
}

/* Eastward tooltips */
.d3-tooltip.e:after {
  content: "\25C0";
  margin: -4px 0 0 0;
  top: 50%;
  left: -8px;
}

/* Southward tooltips */
.d3-tooltip.s:after {
  content: "\25B2";
  margin: 0 0 1px 0;
  top: -8px;
  left: 0;
  text-align: center;
}

/* Westward tooltips */
.d3-tooltip.w:after {
  content: "\25B6";
  margin: -4px 0 0 -1px;
  top: 50%;
  left: 100%;
}

.track,
.track-inset,
.track-overlay {
  stroke-linecap: round;
}

.track {
  stroke: #000;
  stroke-opacity: 0.3;
  stroke-width: 10px;
}

.track-inset {
  stroke: #ddd;
  stroke-width: 8px;
}

.track-overlay {
  pointer-events: stroke;
  stroke-width: 50px;
  stroke: transparent;
  cursor: crosshair;
}

/* ant design => customize */
.ant-slider-track {
  background-color: gray !important;
}
.ant-slider-handle {
  background-color: gray !important;
  border: 1px solid #7d7d7d !important;
}

.ant-table-scroll .ant-table-header::-webkit-scrollbar {
    opacity: 0.001;
}

::-webkit-scrollbar {
display: none;
}

.title {
  width: 100%;
}

.ant-btn-group {
  padding: 5px !important;
}

.atn-btn {
  background-color: lightgray !important;
  color: white !important;
  border: 1px solid #c1c1c1 !important;
}

.btn-secondary {
  color: rgba(0, 0, 0, 0.65) !important;
  background-color: #dadada !important;
  border: none !important;
}

.item rect {
  stroke: grey;
}

.hover-active rect { opacity: .75; }
.hover-active rect.hover { opacity: 1; }
